@import url(https://fonts.googleapis.com/css?family=Cookie);

*{
  margin:0;
  padding:0;
}

body{
  font:15px/1.3 'Open Sans', sans-serif;
  color: #5e5b64;
  text-align:center;
}

a, a:visited {
  outline:none;
  color:#389dc1;
}

a:hover{
  text-decoration:none;
}

section, footer, header, aside, nav{
  display: block;
}

/*-------------------------
  The order form
--------------------------*/

form{
  background-color: #61a1bc;
  border-radius: 2px;
  box-shadow: 0 1px 1px #ccc;
  width: 400px;
  padding: 35px 60px;
  margin: 50px auto;
}

form h1{
  color:#fff;
  font-size:64px;
  font-family:'Cookie', cursive;
  font-weight: normal;
  line-height:1;
  text-shadow:0 3px 0 rgba(0,0,0,0.1);
}

form ul{
  list-style:none;
  color:#fff;
  font-size:20px;
  font-weight:bold;
  text-align: left;
  margin:20px 0 15px;
}

form ul li{
  padding:20px 30px;
  background-color:#e35885;
  margin-bottom:8px;
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  cursor:pointer;
}

form ul li span{
  float:right;
}

form ul li.active{
  background-color:#8ec16d;
}

div.total{
  border-top:1px solid rgba(255,255,255,0.5);
  padding:15px 30px;
  font-size:20px;
  font-weight:bold;
  text-align: left;
  color:#fff;
}

div.total span{
  float:right;
}

.active{
  background-color:#8ec16d;
}

table {
  padding-top: 20px;
  border-collapse: collapse;
}

tr {
  background-color: #61a1bc;
}

td {
  background-color: #e35885;
  width: 100%;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  text-align: left;
  font-weight: bold;
  color: #000;
  border-top: 20px solid #61a1bc;
}

td.add-service {
  background-color: #61a1bc;
  text-align: center;
  border-bottom: 20px solid #61a1bc;
}

button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
}

tr.total > td {
  border-top:1px solid rgba(255,255,255,0.5); /* missing because border-collapse */
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  background-color: #61a1bc;
}

td.price {
  text-align: right;
}

input {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;  
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000;
}


